a {
  cursor: pointer;
}

.app-container {
  min-height: 350px;
}

span {
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 10;
}

.ReactModal__Content.ReactModal__Content--after-open {
  padding-top: 48px !important;
  padding-bottom: 0px !important;
}
